* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
    page-break-inside: avoid;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
} 

#container {
    width: calc(100% - 40px);
    height: 100%;
    display: grid;
    grid-gap: 20px;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#navbar {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    border-bottom: 1px solid rgba(21, 21, 21, 0.863);
}

#navbar h1{
    margin-left: 30px;
    color: rgba(245, 245, 245, 0.753);
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
}

#divone {
    display: flex;
    flex-direction: column;
}

.heading_one {
    color: rgba(245, 245, 245, 0.829);
    font-weight: lighter;
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 23px;
    align-self: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}
 
#form {
    display: flex;
    flex-direction: column;
}

#divone input {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.082);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.733);
    border: none;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgba(30, 30, 30, 0.685);
}

#divone textarea {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.082);
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.733);
    border: none;
    border-radius: 8px;
    height: 70px;
    padding: 10px;
    border: 1px solid rgba(30, 30, 30, 0.685);
}

#divone button {
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.123);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.767);
    border: none;
}

#divone p {
    color: rgba(245, 245, 245, 0.479);
    font-weight: normal;
    font-size: 15px;
    margin-top: 0;
}

#divtwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divtwo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 20px;
}

#divthree {
    width: calc(100% - 40px);
}

.holder {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.205);
}

.holder h2 {
    color: rgba(245, 245, 245, 0.705);
    font-weight: lighter;
    font-size: 18px;
    margin: 0;
    margin: 0 0 15px 0;
    padding: 13px 20px 15px 20px;
    background-color: rgba(128, 128, 128, 0.068);
    border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}

.holder p {
    color: rgba(245, 245, 245, 0.356);
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.holder input {
    border: none;
    margin-bottom: 11px;
    padding: 12px 0 12px 10px;
    border-radius: 6px;
    transition: .7s box-shadow;
    background-color: rgba(19, 19, 19, 0.616);
    transition: background-color .3s;
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
}

.holder button {
    border: none;
    background-color: rgba(19, 19, 19, 0.651);
    color: grey;
    padding: 12px 0 12px 10px;
    border: 1px solid rgba(128, 128, 128, 0.096);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.premium {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
    color: rgba(245, 245, 245, 0.671);
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
    margin-top: 40px;
}

.premium::before {
    content: "";
    border-top: 1px solid rgba(245, 245, 245, 0.11);
    height: 30px;
    width: 42%;
    margin-right: 8px;
    position: absolute;
    top: 20px;
    left: 0;
}

.premium::after {
    content: "";
    border-top: 1px solid rgba(245, 245, 245, 0.11);
    height: 30px;
    width: 42%;
    margin-right: 8px;
    position: absolute;
    top: 20px;
    right: 0;
}

input[type='time']::-webkit-clear-button {
    padding: 30px;
}