* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}

body {
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#navbar { 
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: white;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.741);
}

#navbar h1{
    font-size: 30px;
    color: blue;
    font-weight: lighter;
}

#navbar button {
    position: absolute;
    border: none;
    background: none;
    top: 12px;
    right: 20px;
    font-size: 15px;
    font-weight: lighter;
    padding: 7px;
    background-color: rgba(128,128,128,0.104);
    border: 1px solid rgba(128,128,128,0.204);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.9);
    transition: background-color .5s;
}

#navbar button:hover {
    background-color: rgba(128,128,128,0.25);
}

#navbar img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 20px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid rgba(128, 128, 128, 0.34);
}

#divone {
    width: 500px;
    margin: 7px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
}

.schedule {
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(100,100,100);
    text-align: center;
    font-style: italic;
}

.schedule a {
    color: blue;
    font-weight: normal;
    text-decoration: none;
}

.schedule a:hover {
    text-decoration: underline;
}

#divtwo {
    width: 500px;
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
}

#divtwo img {
    width: 200px;
    height: auto; 
    padding: 6px;
    border: 5px solid rgba(128,128,128,0.6);
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.341);
    border: 2px solid rgba(128, 128, 128, 0.34);
}

#divtwo p {
    font-size: 24px;
    color: grey; 
    font-family: 'Brush Script MT', cursive; 
    margin: 0; 
    margin-top: 25px; 
    align-self: center;
    font-weight: lighter;
}

h2 {
    color: rgba(0, 0, 0, 0.71);
    font-weight: lighter;
    align-self: center;
    margin: 0;
    font-size: 32px;
    text-align: center;
}

p {
    font-weight: normal;
    color: grey;
    margin-top: 0;
}

.start {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background: none;
    border: none;
    margin-top: 12px;
    border-radius: 9px;
    margin-bottom: 20px;
    color: white;
    background-color: blue;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.781);
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128,128,128,0.345);
}

.join {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.341);
    border: 1px solid rgba(128, 128, 128, 0.34);
}

.join form {
    width: 100%;
}

.join input {
    width: 70%;
    margin-left: 10px;
    color: grey;
    border: none;
}

.join button {
    margin-left: auto;
    border: none;
    background: none;
    color: white;
    font-weight: 600;
    transition: color 0.4s;
    float: right;
    margin-right: 15px;
}

.header {
    font-weight: normal; 
    width: 100%; 
    align-self: center; 
    padding: 20px;
    text-align: center; 
    margin: 0;
}

.header span {
    font-weight: bold;
}

.footer {
    font-weight: normal; 
    margin-top: 10px; 
    height: 30px;
    align-self: center; 
    padding: 20px 0 20px 0;
    text-align: center; 
    font-size: 13px;
    color: grey;
}

#notification {
    color: white;
    background-color: rgb(255, 220, 220);
    border: 1px solid rgba(255, 0, 0, 0.234);
    color: black;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    border-radius: 9px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0;
    transition: opacity .4s;
    width: 250px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}

.links a {
    text-decoration: underline; font-size: 13px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    color: blue;
}

#options {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(128, 128, 128, 0.341);
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.341);
    border: 1px solid rgba(128, 128, 128, 0.34);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#options div {
    background-color: white;
    width: 280px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#options div button {
    border: none;
    background: none;
    font-weight: normal;
    border-bottom: 1px solid rgba(128,128,128,0.305);
    font-size: 16px;
    padding: 14px 0 14px 0;
    width: calc(100% - 34px);
    color: rgba(0, 0, 0, 0.61);
}

@media screen and (max-width: 1030px) {
    main {
        width: 100%;
    }
}