* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}

body {
    background-color: white;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#navbar { 
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    z-index: 5;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.741);
    background-color: white;
} 
 
#navbar h1{
    color: blue;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
    font-size: 30px;
}

h2 {
    color: rgba(0, 0, 0, 0.753);
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
}

#card {
    align-self: center;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#footer {
    align-self: center;
    margin-top: 10px;
    color: rgba(245, 245, 245, 0.466);
    font-size: 24px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 25px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.441);
}

#info {
    color: rgba(0, 0, 0, 0.441);
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

#card a {
    margin-top: 15px;
    border: none;
    padding: 12px;
    border-radius: 6px;
    width: calc(100% - 20px);
    text-decoration: none;
    text-align: center;
    background-color: rgb(173,216,230);
    color: black;
}