* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
    margin: 0;
}

body {
    padding-top: 85px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#navbar {
    width: 100%; 
    height: 60px;
    position: absolute; 
    top: 0; 
    left: 0; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 5;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.741);
}

#navbar h1{
    margin-left: 30px;
    color: blue;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
}

#navbar button {
    position: absolute;
    border: none;
    background: none;
    top: 12px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    padding: 10px;
    background-color: rgba(128,128,128,0.12);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    transition: background-color .5s;
}

#navbar button:hover {
    background-color: rgba(128,128,128,0.35);
}

h2 {
    color: rgba(0, 0, 0, 0.71);
    font-weight: lighter;
    align-self: center;
    margin: 0;
    font-size: 32px;
    margin-top: 15px;
    font-style: italic;
}

p {
    color: grey;
    max-width: 500px;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: rgba(0, 0, 0, 0.71);
    font-weight: lighter;
    align-self: center;
    font-size: 30px;
}

a {
    color: blue;
    background-color: rgba(0, 0, 255, 0.202);
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 8px;
    font-weight: normal;
    text-align: center;
    width: 200px;
}