* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
    page-break-inside: avoid;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url('../images/saintschurch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 30px;
}

#divone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divone h2 {
    color: white;
    font-weight: lighter;
    align-self: center;
    margin: 0;
    font-size: 44px;
    text-align: center;
}

#divone div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#divone div p {
    color: white;
    font-size: 40px;
    margin: 35px;
    background-color: rgba(0,0,0,0.56);
    padding: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#divone div p::after {
    content: attr(data-name);
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    text-align: center;
    font-style: italic;
}

#divone p span {
    font-weight: bold;
}

#divtwo {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divtwo img {
    width: 100%;
}

.parent {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.parent div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.parent div img {
    width: 200px;
    height: 200px;
    height: auto;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.141);
    border: 1px solid rgba(128, 128, 128, 0.64);
}

.parent div p {
    font-size: 15px;
    width: 150px;
    text-align: center;
    color: rgba(0,0,0,0.96);
    font-weight: normal;

}

.parent div h2 {
    font-weight: lighter;
    align-self: center;
    margin: 0;
    font-size: 44px;
    text-align: center;
}