* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}

body {
    background-color: white;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar { 
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    z-index: 5;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.741);
    background-color: white;
} 
 
#navbar h1{
    color: blue;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
}

#navbar button {
    position: absolute;
    border: none;
    background: none;
    top: 12px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    padding: 10px;
    background-color: rgba(128,128,128,0.12);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    transition: background-color .5s;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.341);
    border: 1px solid rgba(128, 128, 128, 0.34);
}

#navbar button:hover {
    background-color: rgba(128,128,128,0.35);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
} 

#container h2 {
    color: rgba(0, 0, 0, 0.753);
    font-weight: lighter;
    font-size: 24px;
}

#container p {
    color: rgba(0, 0, 0, 0.681);
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 0;
}