* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container div {
    align-self: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
    margin-left: 20px;
}

#container h2 {
    color: blue;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    margin: 0;
    align-self: flex-start;
}

#info {
    color: grey;
    text-align: justify;
}

#container div a {
    color: blue;
    background-color: rgba(0, 0, 255, 0.185);
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 95%;
    margin-top: 20px;
}

#footer {
    color: grey;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
    font-size: 22px;
}
