* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}

body {
    margin: 0;
    background: linear-gradient(to right,rgba(128, 0, 128, 0.123),rgba(0, 0, 255, 0.062));
    padding: 15px;
    padding-right: 350px;
}

#divone {
    background: linear-gradient(to bottom, rgba(128, 0, 128, 0.13),rgba(0, 0, 255, 0.13));
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
    height: 500px;
}

#divone video {
    width: 100%;
    height: auto;
    pointer-events: none;
}

#divtwo {
    background: linear-gradient(to bottom, rgba(128, 0, 128, 0.014),rgba(0, 0, 255, 0.027));
    border: 1px solid rgba(128, 0, 128, 0.226);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: absolute;
    top: 15px;
    right: 18px;
    width: 300px;
    height: 500px;
}

#divtwo div p {
    color: purple;
}

.no_comments {
    color: purple;
    text-align: center;
    align-self: center;
    font-size: 12px;
}

.viewer_comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

.viewer_comment img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid purple;
}

.viewer_comment p {
    font-size: 13px;
    margin-left: 4px;
}

.viewer_comment p span {
    font-weight: bold;
}

.viewer_comment div {
    width: 28px;
    height: 28px;
    background-color: rgba(128, 0, 128, 0.144);
    border-radius: 50%;
    border: 1px solid rgba(128, 0, 128, 0.253);
    text-align: center;
}

.viewer_comment div i {
    color: purple;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    body {
        column-count: auto;
    }
   }