* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}

body {
    margin: 0;
}

#stream {
    width: 100%;
    height: 100%;
} 

#divone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divtwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.082);
    padding: 20px;
    border-radius: 8px;
}

#divtwo h2 {
    color: blue;
    align-self: flex-start;
}

#button1 {
    color: blue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0.13);
    border: 1px solid rgba(0, 0, 255, 0.274);
    width: 200px;
}

#button2 {
    color: blue;
    background: none;
    border: none;
    border: 1px solid rgba(0, 0, 255, 0.274);
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

#divtwo p {
    color: blue;
    font-style: italic;
}