* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}
 
body {
    background-color: rgba(245, 245, 245, 0.514);
    display: flex;
    align-items: center;
    padding-top: 85px;
    justify-content: center;
}

#navbar {
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(128, 128, 128, 0.219) 0 2px 7px 0;
}

#navbar h1{
    margin-left: 30px;
    color: blue;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

#navbar a {
    margin-left: auto;
    color: grey;
    text-decoration: none;
    background-color: whitesmoke;
    margin-right: 30px;
    padding: 12px 20px 12px 20px;
    font-weight: bold;
    border-radius: 6px;
}

#main {
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 65px 400px 60px;
    border-bottom: none;
    background-color: white;
    font-family: 'Brush Script MT', cursive;
    box-shadow: rgba(128, 128, 128, 0.288) 2px 2px 7px 0;
}

#divone {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    border-right: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Brush Script MT', cursive;
}

#divone p {
    color: grey;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

#all_chats {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.171);
    padding-top: 8px;
    margin-top: 10px;
}

#search {
    align-self: center;
    margin-top: 10px;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.171);
}

#search input {
    color: grey;
    border: none;
    width: 90%;
    background: none;
}

#search button {
    background: none;
    border: none;
    color: grey;
    margin-left: 5px;
}

#no_chats {
    color: grey;
}

#divtwo {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#name {
    color: grey;
    margin-left: 10px;
} 

.profile {
    margin-left: 15px;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid rgba(128, 128, 128, 0.623);
}

#live {
    margin-left: auto;
}

#divtwo button {
    margin-right: 20px;
    color: grey;
    background-color: whitesmoke;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.171);
}

#divthree {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(245, 245, 245, 0.514);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sender {
    align-self: flex-end;
    color: grey;
    background-color: white;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    border-radius: 10px;
    margin-top: 0;
    max-width: 250px;
}

.receiver {
    align-self: flex-start;
    color: grey;
    background-color: rgba(128, 128, 128, 0.062);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    margin-top: 0;
    max-width: 250px;
}

#new {
    visibility: hidden;
}

#divfour {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-top: 1px solid rgba(128, 128, 128, 0.171);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#divfour button {
    margin-left: 7px;
    color: grey;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    background: none;
}

#divfour input {
    margin: 15px;
    border: none;
    width: 65%;
    color: grey;
}
