{% load static %}
{% load compress %}
{% load meta %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% include 'meta/meta.html' %}
        <title>Create account - Career connect</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/flowbite.min.css' %}" type="text/css"/>
        {% endcompress %}
        {% compress js %}
        <script src = "{% static 'js/flowbite.min.js' %}" type = "text/javascript"></script>
        {% endcompress %}
    </head>
    <body class="bg-gray-50">   
        <a href="#" class="text-center mt-6 py-3 w-full flex items-center justify-center mb-6 text-3xl font-bold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="{% static 'images/profile_pic.svg' %}" alt="logo">
            CareerConnect  
        </a>
  
        <form method = "POST" class="flex bg-white px-6 mb-10 border border-gray-100 shadow rounded-lg flex-col items-center max-w-xl mx-auto w-full sm:w-auto py-12">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <h2 class="mb-4 text-2xl font-semibold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">1). What type of account are you signing up for?</h2>

            <p class="mb-5 text-gray-500 dark:text-gray-400 bg-gray-50 p-4 rounded-lg mt-5">At CareerConnect, we connect job seekers to top employers looking for skilled professionals.
                By signing up, you'll gain access to exclusive job opportunities, career resources and networking events designed to help you achieve your career goals.
            </p>

            <ol class="flex items-center w-full">
                <li class="relative w-full mb-6">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <span class="flex w-3 h-3 bg-blue-600 rounded-full"></span>
                        </div>
                        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3">
                        <h3 class="font-medium text-gray-900 dark:text-white">Step 1</h3>
                    </div>
                </li>
                <li class="relative w-full mb-6">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <span class="flex w-3 h-3 bg-gray-900 rounded-full dark:bg-gray-300"></span>
                        </div>
                        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3">
                        <h3 class="font-medium text-gray-900 dark:text-white">Step 2</h3>
                    </div>
                </li>
                <li class="relative w-full mb-6">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <span class="flex w-3 h-3 bg-gray-900 rounded-full dark:bg-gray-300"></span>
                        </div>
                        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3">
                        <h3 class="font-medium text-gray-900 dark:text-white">Step 3</h3>
                    </div>
                </li>
                <li class="relative w-full mb-6">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <span class="flex w-3 h-3 bg-gray-900 rounded-full dark:bg-gray-300"></span>
                        </div>
                        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3">
                        <h3 class="font-medium text-gray-900 dark:text-white">Step 4</h3>
                    </div>
                </li>
                <li class="relative w-full mb-6">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <span class="flex w-3 h-3 bg-gray-900 rounded-full dark:bg-gray-300"></span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h3 class="font-medium text-gray-900 dark:text-white">Step 5</h3>
                    </div>
                </li>
            </ol>

            <input type="radio" id="employer" name="account_type-account_type" value="employer" class="hidden peer" />
            <label for="employer" class="inline-flex items-center justify-between mt-4 w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                <div class="block">
                    <div class="w-full text-lg font-semibold">I'm an employer</div>
                    <div class="w-full">I am looking for professional labour to work for my company and business at an affordable cost.</div>
                </div>
                <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </label>    

            <input type="radio" id="employee" name="account_type-account_type" value="job_seeker" class="hidden peer" />
            <label for="employee" class="inline-flex items-center justify-between mt-4 w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                <div class="block">
                    <div class="w-full text-lg font-semibold">I'm a job seeker</div>
                    <div class="w-full">I am a job seeker equiped with skills and experience to work in my work field and I am therefore looking for a job.</div>
                </div>
                <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </label>  

            <div class="mt-6 w-full flex items-start">
                <div class="flex items-center h-5">
                    <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                </div>
                <div class="ml-3 text-sm">
                    <label for="terms" class="font-light text-gray-500 dark:text-gray-300">By signing up, you are creating a CareerConnect account, and you hereby agree to CareerConnect <a class="font-medium text-blue-600 hover:underline dark:text-primary-500" href="#">Terms and Conditions</a> and <a class="font-medium text-blue-600 hover:underline dark:text-primary-500" href="#">Privacy policy</a></label>
                </div>
            </div>


            <button class="py-3 mt-4 mb-4 rounded-lg text-center font-medium text-white bg-blue-700 w-full hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Next</button>

            {% if wizard.form.errors %}
                {% for field in wizard.form %}
                    {% if field.errors %}
                        <div id="alert-2" class="flex items-center w-full p-4 mt-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                          <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                          </svg>
                          <span class="sr-only">Info</span>
                          <div class="ms-3 text-sm font-medium">
                              {{ field.label }} {{ field.errors }}
                          </div> 
                          <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close">
                            <span class="sr-only">Close</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                          </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="text-sm font-medium text-gray-900 dark:text-white">
                Already have an account? <a href = "{% url 'login' %}" class="text-blue-600 hover:underline dark:text-blue-500">Login here</a>
            </div>
        </form>
    </body>
</html>