{% load static %}
{% load compress %}
{% load meta %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CareerConnect | Manage Your Job Postings</title>
        <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">
        <link rel="stylesheet" href="{% static 'flags/sprite.css' %}"/>
        <script src = "{% static 'js/flowbite.min.js' %}" type = "text/javascript"></script>
    </head>
    <body>
        {% include 'employee-portal/partials/navbar.html' %}

        {% include 'employee-portal/partials/sidebar.html' %}

        <div class="p-2 sm:ml-64">
            <div class="p-2 rounded-lg mt-14">
                <nav class="flex mb-6 mt-4" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-3 rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <a href="{% url 'employee_portal:job_listings' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 hover:underline dark:text-gray-400 dark:hover:text-white">
                                <svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                                    <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                                    <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                                </svg>
                                Job Listings
                            </a>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="ms-1 text-sm font-medium text-gray-400 md:ms-2 dark:text-gray-400">Job Reviews</span>
                            </div>
                        </li>
                    </ol> 
                </nav>
        
                <div class="mx-auto py-10 border border-gray-200 rounded-lg">
                    <!-- Job Info Header -->
                    <section class="bg-white p-6 mb-4 rounded-lg flex flex-col md:flex-row md:items-center md:justify-between">
                        <!-- Left: Company Info -->
                        <div class="flex items-start md:items-center gap-3">
                            <!-- Company Logo -->
                            {% if job.company.company_profile_picture %}
                                <img src="{{ job.company.company_profile_picture.url }}" class="w-20 h-20 rounded-full border" alt="Company Logo">
                            {% else %}
                                <div class="w-16 h-16 rounded-full bg-blue-100 text-blue-700  flex items-center justify-center text-3xl font-bold uppercase">
                                    {{ job.company.company_name|slice:":1"|upper }}
                                </div>
                            {% endif %}
                            
                            <div>
                                <!-- Job Title -->
                                <h1 class="text-3xl mt-1 font-bold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">
                                   {{ job.job_title }}
                                </h1>
                                <!-- Company Name & Location -->
                                <p class="text-gray-600 text-sm md:text-base">{{ job.company.company_name }} • {{ job.state_or_region }}, {{ job.country }} <i class="{{ job.country.flag_css }}"></i></p>
                                <!-- Meta info -->
                                <!-- Tags -->
                                <div class="flex flex-wrap gap-2 mt-1">
                                    <span class="px-3 py-1 bg-blue-100 text-blue-600 text-xs rounded-full">     
                                      {{ job.get_employment_type_display }}
                                    </span>
                                    <span class="px-3 py-1 bg-green-100 text-green-600 text-xs rounded-full">     
                                      {{ job.get_work_location_mode_display }}
                                    </span>
                                    <span class="px-3 py-1 bg-red-100 text-red-600 text-xs rounded-full">
                                      {{ job.get_industry_display }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Right: Ratings -->
                        <div class="mt-4 md:mt-0 text-right">
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                                <p class="ms-2 text-sm font-bold text-gray-900 dark:text-white">{{ job.average_rating }}</p>
                                <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                <p class="text-sm font-medium text-gray-900 underline hover:no-underline dark:text-white">{{ job.job_ratings.count }} reviews</p>
                            </div>
                            <p class="text-sm text-gray-500">This job has no reviews yet.</p>
                        </div>
                    </section>

                    <hr class="h-px my-4 mx-4 bg-gray-200 border-0 dark:bg-gray-700">

                    <div class="px-6 mb-8">
                        <div class="flex items-center mb-2 mt-8">
                            {% for i in "12345" %}
                                {% if forloop.counter <= job.average_rating %}
                                    <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                {% else %}
                                    <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                {% endif %}
                            {% endfor %}
                        
                            <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">
                                {{ job.average_rating }}
                            </p>
                            <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">out of</p>
                            <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
                        </div>
                        <p class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ job.job_ratings.count }} ratings</p>
                        {% for star, percentage in rating_percentages.items %}
                            <div class="flex items-center mt-4">
                                <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ star }} star</a>
                                <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-gray-700">
                                    <div class="h-5 bg-yellow-300 rounded-sm" style="width: {{ percentage  }}%"></div>
                                </div>
                                <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ percentage }}%</span>
                            </div>
                        {% endfor %} 
                    </div> 

                    <hr class="h-px my-6 mx-4 bg-gray-200 border-0 dark:bg-gray-700">

                    {% if reviews %}
                        {% for review in reviews %}
                            <article class="px-6 mb-5">
                                <div class="flex items-center mb-4">
                                    {% if review.candidate.profile_picture %}
                                        <img class="w-10 h-10 me-4 rounded-full" src="{{ review.candidate.profile_picture.url }}" alt="profile picture">
                                    {% else %}
                                        <div class="flex-shrink-0">
                                            <div class="w-10 h-10 mr-2 rounded-full bg-blue-100 text-blue-700 flex items-center justify-center text-xl font-bold uppercase">
                                                {{ candidate.user.get_initials }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="font-medium dark:text-white">
                                        <p>{{ review.candidate.user.username }} <time datetime="2014-08-16 19:00" class="block text-sm text-gray-500 dark:text-gray-400">Joined on August 2014</time></p>
                                    </div>
                                </div>
                                <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= review.rating %}
                                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                            </svg>
                                        {% else %}
                                            <svg class="w-4 h-4 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                            </svg>
                                        {% endif %}
                                    {% endfor %}
                                    <h3 class="ms-2 text-sm font-semibold text-gray-900 dark:text-white">{{ review.title }}</h3>
                                </div>
                                <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400"><p>Reviewed in the United Kingdom on <time datetime="2017-03-03 19:00">March 3, 2017</time></p></footer>
                                <p class="mb-2 text-gray-500 dark:text-gray-400">
                                   {{ review.comment }}
                                </p>
                                <a href="#" class="block mb-5 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">Read more</a>
                                <aside>
                                    <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">19 people found this helpful</p>
                                    <div class="flex items-center mt-3">
                                        <a href="#" class="px-2 py-1.5 text-xs font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Helpful</a>
                                        <a href="#" class="ps-4 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500 border-gray-200 ms-4 border-s md:mb-0 dark:border-gray-600">Report abuse</a>
                                    </div>
                                </aside>
                            </article>
                        {% endfor %}
                    {% else %}
                        <section class="bg-white rounded-lg text-center">
                            <div class="flex flex-col items-center justify-center space-y-4 py-12">
                                <svg class="w-16 h-16 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>

                                <h3 class="mb-4 text-3xl font-bold tracking-tight leading-none text-gray-400 md:text-3xl dark:text-white">No reviews yet</h3>
                                <p class="mt-6 text-center text-gray-500 dark:text-gray-400 max-w-md">Be the first to share your experience working in this position. Your insights could help other job seekers make better decisions.</p>

                                <!-- CTA button (only if user is allowed to submit) -->
                                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                     Write a Review
                                </button>
                            </div>
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>