{% load static %}
{% load compress %}
{% load meta %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'meta/meta.html' %}
        <title>Post Job page - Career connect</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">
        {% endcompress %}
        {% compress js %}
        <script src = "{% static 'js/datepicker.min.js' %}" type = "text/javascript"></script>
        <script src = "{% static 'js/dateselector.js' %}" type = "text/javascript" defer></script>
        <script src = "{% static 'js/flowbite.min.js' %}" type = "text/javascript"></script>
        {% endcompress %}
    </head>
    <body>
        {% include 'employer-portal/navbar.html' %}
  
        {% include 'employer-portal/sidebar.html' %}
          
        <div class="p-4 sm:ml-64">
            <div class="p-4 rounded-lg mt-14">
                <div class="inline-flex justify-between items-center w-full">
                    <h2 class="mb-4 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">Post a Job <span class="text-blue-600">- Application details</span></h2>
                </div>

                <p class="mb-5 text-gray-500 dark:text-gray-400 p-4 rounded-lg bg-gray-50">This section offers a comprehensive overview of the application process, designed to provide candidates with a clear understanding of what to expect. It ensures that all applicants are informed about the steps they need to take, any necessary documentation, and any additional actions required. By clearly outlining these instructions, we aim to make the application experience as straightforward and effecient as possible, promoting transparency helping candidates submit their applications with confidence.
                </p>

                <ol class="flex items-center w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:p-4 sm:space-x-4 rtl:space-x-reverse">
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-blue-500">
                            1
                        </span>
                        Job <span class="hidden sm:inline-flex sm:ms-2">Details</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            2
                        </span>
                        Job <span class="hidden sm:inline-flex sm:ms-2">requirements</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            3
                        </span>
                        Compensation details
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center text-blue-600 dark:text-blue-500">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-blue-600 rounded-full shrink-0 dark:border-gray-400">
                            4
                        </span>
                        Application <span class="hidden sm:inline-flex sm:ms-2">details</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            5
                        </span>
                        Review and <span class="hidden sm:inline-flex sm:ms-2">publish</span>
                    </li>
                </ol>

                <div class="max-w-6xl flex mt-6">
                    <div class="w-3/4 g-white p-6 border border-gray-200 rounded-lg">
                        <h5 class="mb-4 text-xl text-gray-500 font-bold dark:text-white">4). Comprehensive overview of the application details and instructions.</h5>
                        <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                                <span class="font-medium">Helpful tips for streamlining the application process.</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    <li>Ensure that the instructions for submitting applications are straightforward and easy to follow.</li>
                                    <li>Encourage applicants to double-check their submissions to ensure all required fields and documents are completed accurately. Incomplete or incorrect applications can delay the review process.</li>
                                </ul>
                            </div>
                        </div>

                        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

                        <form method="POST">
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            <div class="grid mb-6 gap-6 md:grid-cols-2 mt-8">
                                <div>
                                    <label for="datepicker-autohide" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Application start date</label>
                                    <div class="relative w-full">
                                      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                          <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                        </svg>
                                      </div>
                                      <input datepicker datepicker-buttons datepicker-autohide id="datepicker-autohide" name="application-details-application_start_date" type="text" class="dateselector bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date" required>
                                    </div>
                                </div>
                                <div>
                                    <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Application deadline</label>
                                    <div class="relative w-full">
                                      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                          <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                        </svg>
                                      </div>
                                      <input datepicker datepicker-buttons datepicker-autohide id="datepicker-autohide" name="application-details-application_deadline" type="text" class="dateselector bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date" required>
                                    </div>
                                </div>
                                <div>
                                    <label for="id_application-details-application_limit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Application limit</label>
                                    <input type="number" name="application-details-application_limit" id="id_application-details-application_limit" min='1' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter application limit..." required />
                                </div>
                                <div>
                                    <label for="id_application-details-contact_information" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact information</label>
                                    <input type="text" name="application-details-contact_information" id="id_application-details-contact_information" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Contact information e.g email, telephone..." required />
                                </div>      
                            </div>

                            <div class="mb-6">
                                <label for="id_application-details-application_instructions" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Application instructions</label>
                                <textarea id="id_application-details-application_instructions" name="application-details-application_instructions" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter instructions for applicants..." required></textarea>
                            </div>       

                            <div class="mb-6">
                                <label for="id_application-details-custom_application_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Custom application url</label>
                                <input type="url" name="application-details-custom_application_url" id="id_application-details-custom_application_url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://customapplicationpage.com" required/>
                            </div>    

                            {% if wizard.form.errors %}
                                {% for field in wizard.form %}
                                    {% if field.errors %}
                                        <div id="alert-2" class="flex items-center w-full p-4 mt-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                          <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                          </svg>
                                          <span class="sr-only">Info</span>
                                          <div class="ms-3 text-sm font-medium">
                                              {{ field.label }} {{ field.errors }}
                                          </div> 
                                          <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close">
                                            <span class="sr-only">Close</span>
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                          </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <a href="#" name="wizard_goto_step" class="text-gray-900 shadow-sm px-8 bg-gray-100 border border-gray-200 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Back</a>                     
                            
                            <button type="submit" class="text-white bg-blue-700 mt-8 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Next
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </button>
                        </form>     
                    </div>
                </div>
            </div>
        </div>
   </body>
</html>
