{% load static %}
{% load compress %}
{% load meta %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'meta/meta.html' %}
        <title>Post Job page - Career connect</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/job-requirements.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/tagify.css' %}" type="text/css"/>
        {% endcompress %}
        {% compress js %}
        <script src = "{% static 'js/datepicker.min.js' %}" type = "text/javascript"></script>
        <script src = "{% static 'js/tagify.js' %}" type = "text/javascript"></script>
        <script src = "{% static 'js/dateselector.js' %}" type = "text/javascript" defer></script>
        <script src = "{% static 'js/flowbite.min.js' %}" type = "text/javascript"></script>
        <script src = "{% static 'js/employer-portal/job-requirements.js' %}" type = "text/javascript" defer></script>
        {% endcompress %}
    </head>
    <body>
        {% include 'employer-portal/navbar.html' %}
  
        {% include 'employer-portal/sidebar.html' %}
  
        <div class="p-4 sm:ml-64">
            <div class="p-4 rounded-lg mt-14">
                <div class="inline-flex justify-between items-center w-full">
                    <h2 class="mb-4 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">Post a Job, hire talent.</h2>
                </div>

                <p class="mb-5 text-gray-500 dark:text-gray-400 mt-5 p-4 rounded-lg bg-gray-50">This section focuses on the qualifications and expectations for the ideal candidate. Providing clear and concise information will help ensure the job listing appeals to the right audience. Use this section below to describe and specify what makes someone a strong fit for the role, ensuring the details align with the goals and responsibilities of the position. Ensure that the requirements reflect the core competences and expertise needed to excel, as well as any qualities that would make a candidate stand out.
                </p>

                <ol class="flex items-center w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:p-4 sm:space-x-4 rtl:space-x-reverse">
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-blue-500">
                            1
                        </span>
                        Job <span class="hidden sm:inline-flex sm:ms-2">Details</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center text-blue-600 dark:text-blue-500">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-blue-600 rounded-full shrink-0 dark:border-gray-400">
                            2
                        </span>
                        Job <span class="hidden sm:inline-flex sm:ms-2">requirements</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            3
                        </span>
                        Compensation details
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            4
                        </span>
                        Application <span class="hidden sm:inline-flex sm:ms-2">details</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            5
                        </span>
                        Review and <span class="hidden sm:inline-flex sm:ms-2">publish</span>
                    </li>
                </ol>

                <h5 class="mb-4 mt-6 text-xl text-gray-500 font-bold dark:text-white">2). Provide mandatory requirements for this job position.</h5>

                <div class="max-w-6xl flex mt-4">
                    <div class="w-3/4">
                        <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                                <span class="font-medium">Best practices for effective job requirements</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    <li>Be specific about essential skills and qualifications that align with the job responsibilites.</li>
                                    <li>Consider flexibility in experience or skills to accommodate a wider talent pool, and avoid too many "nice-to-have" skills that could limit candidate diversity.</li>
                                    <li>Avoid overly broad or unrealistic expectations.</li>
                                </ul>
                            </div>
                        </div>

                        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

                        <form id="form" method="POST">
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            <input type="hidden" name="job-requirements-languages_required" id="id_job-requirements-languages_required"/>
                            <input type="hidden" name="job-requirements-certifications_and_licenses" id="id_job-requirements-certifications_and_licenses"/>
                            <input type="hidden" name="job-requirements-additional_requirements" id="id_job-requirements-additional_requirements"/>
                            <input type="hidden" name="job-requirements-required_skills" id="id_job-requirements-required_skills"/>

                            <div class="grid mb-6 gap-6 md:grid-cols-2 mt-8">
                                <div>
                                    <label for="id_job-requirements-minimum_education_level" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Minimum education level</label>
                                    <select id="id_job-requirements-minimum_education_level" name="job-requirements-minimum_education_level" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="none" selected>No Formal Education</option>
                                        <option value="high_school">High school diploma</option>
                                        <option value="associate">Associate degree</option>
                                        <option value="bachelor">Bachelor's degree</option>
                                        <option value="master">Master's degree</option>
                                        <option value="doctorate">Doctoral degree</option>
                                        <option>Professional certificate</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="id_job-requirements-field_of_study" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Field of study/Major</label>
                                    <input type="text" name="job-requirements-field_of_study" id="id_job-requirements-field_of_study" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Field majored in" required />
                                </div>
                                <div>
                                    <label for="id_job-requirements-required_experience" class="block flex-row items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        <span>Required experience</span>
                                    </label> 
                                    <input type="number" min="0" name="job-requirements-required_experience" id="id_job-requirements-required_experience" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Required years of experience..." required />
                                </div>  
                                <div>
                                    <label for="id_job-requirements-age_requirements" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Age requirements</label>
                                    <select id="id_job-requirements-age_requirements" name="job-requirements-age_requirements" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="none" selected>No age preference</option>
                                        <option value="18-25">18-25 years</option>
                                        <option value="26-35">26-35 years</option>
                                        <option value="36-45">36-45 years</option>
                                        <option value="46-60">46-60 years</option>
                                        <option value="60+">60+ years</option>
                                    </select>
                                </div>       
                                <div>
                                    <label for="languages_required" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Languages required</label>
                                    <input type="text" name="languages_required" id="languages_required" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter required languages" required />
                                    <p class="mt-1 text-xs text-gray-500 dark:text-gray-300">Use commas to separate each language.</p>
                                </div>
                                <div>
                                    <label for="id_job-requirements-language_proficiency" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Language proficiency</label>
                                    <select id="id_job-requirements-language_proficiency" name="job-requirements-language_proficiency" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="basic" selected>Basic</option>
                                        <option value="intermediate">Intermediate</option>
                                        <option value="advanced">Advanced</option>
                                        <option value="native">Native</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-6">
                                <label for="id_job-requirements-gender_preferences" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gender preferences</label>
                                <select id="id_job-requirements-gender_preferences" name="job-requirements-gender_preferences" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="any" selected>Any</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>  
                            <div class="mb-6">
                                <label for="certifications_and_licenses" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Certifications and licences</label>
                                <div id="certificationsContainer">
                                    <div class="flex items-center gap-2 mb-2">
                                        <input type="text" name="certifications_and_licenses" id="certifications_and_licenses" class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter required certification or license (e.g., CPA, PMP, AWS Certified Solutions Architect)" required />
                                    </div>
                                </div>
                                <button type="button" id="add-certifications-field" class="text-white bg-blue-400 mt-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-not-allowed" disabled>
                                    <svg class="w-4 h-4 mr-1 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                                    </svg>
                                    Add More
                                </button>
                            </div>

                            <div class="mb-6">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Additional requirements</label>
                                <div id="requirementsContainer">
                                    <div class="flex items-center gap-2 mb-2">
                                        <input type="text" id="requirements-field" name="requirements" placeholder="Enter a specific requirement (e.g., Must have a valid driver's license)"  
                                               class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
                                    </div>
                                </div>
                                <button type="button" id="add-requirement-field" class="text-white bg-blue-400 mt-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-not-allowed" disabled>
                                    <svg class="w-4 h-4 mr-1 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                                    </svg>
                                    Add More
                                </button>
                            </div>

                            <div class="mb-6">
                                <label for="skills" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Required Skills & Expertise</label>
                                <input type="text" name="skills" id="skills" class="w-full text-sm rounded-lg border border-gray-300 bg-gray-50" placeholder="Add required key skills (e.g., JavaScript, Python, Communication)" required/>
                                <p class="mt-1 mb-4 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">Use commas to separate each skill.</p>
                            </div>

                    
                            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

                            <a href="#" name="wizard_goto_step" class="text-gray-900 shadow-sm px-8 bg-gray-100 border border-gray-200 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Back</a>

                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Next
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </body>
</html>
