{% load static %}
{% load compress %}
{% load meta %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'meta/meta.html' %}
        <title>Post Job page - Career connect</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">
        {% endcompress %}
        {% compress js %}
        <script src = "{% static 'js/datepicker.min.js' %}" type = "text/javascript"></script>
        <script src = "{% static 'js/dateselector.js' %}" type = "text/javascript" defer></script>
        <script src = "{% static 'js/employer-portal/job-details.js' %}" type = "text/javascript" defer></script>
        <script src = "{% static 'js/flowbite.min.js' %}" type = "text/javascript"></script>
        {% endcompress %}
    </head>
    <body>
        {% include 'employer-portal/navbar.html' %}
  
        {% include 'employer-portal/sidebar.html' %}
  
        <div class="p-4 sm:ml-64">
            <div class="p-4 rounded-lg mt-14">
                <div class="inline-flex justify-between items-center w-full">
                    <h2 class="mb-4 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">Post a Job <span class="text-blue-600">- Job Details</span></h2>
                </div>
 
                <p class="mb-5 text-gray-500 dark:text-gray-400 p-4 rounded-lg bg-gray-50">Please provide detailed and accurate information about the job position to ensure clarity and attract suitable candidates. A well-crafted job description ensures transparency, conveys the expectations of the role, and reflects the company's commitment to hiring the most qualified individuals. By offering comprehensive details, this section helps create an accurate representation of the position, making it easier for applicants to assess their suitability and align their aspirations with the organization's needs.
                </p>

                <ol class="flex items-center w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:p-4 sm:space-x-4 rtl:space-x-reverse">
                    <li class="flex items-center text-blue-600 dark:text-blue-500">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-blue-600 rounded-full shrink-0 dark:border-blue-500">
                            1
                        </span>
                        Job <span class="hidden sm:inline-flex sm:ms-2">Details</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            2
                        </span>
                        Job <span class="hidden sm:inline-flex sm:ms-2">requirements</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            3
                        </span>
                        Compensation details
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            4
                        </span>
                        Application <span class="hidden sm:inline-flex sm:ms-2">details</span>
                        <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>
                    </li>
                    <li class="flex items-center">
                        <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            5
                        </span>
                        Review and <span class="hidden sm:inline-flex sm:ms-2">publish</span>
                    </li>
                </ol>


                <div class="max-w-6xl flex mt-6">
                    <div class="w-full bg-white p-6 border border-gray-200 rounded-lg">
                        <h5 class="mb-4 text-xl text-gray-500 font-bold dark:text-white">1). Provide Essential Details About the Job Position.</h5>
                        <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                                <span class="font-medium">Tips for crafting an effective Job listing</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    <li>Ensure the job title is clear and accurately reflects the position.</li>
                                    <li>Write a concise yet engaging description that highlights the role's purpose, Avoid jargon or overly technical terms unless necessary.</li>
                                    <li>Avoid redundancy and ensure that information is up-to-date.</li>
                                </ul>
                            </div>
                        </div>

                        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

                        <form method="POST" id="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            <input type="hidden" id="id_job-details-key_responsibilities" name="job-details-key_responsibilities" required/>
                            <div class="grid mb-6 gap-6 md:grid-cols-2 mt-8">
                                <div>
                                    <label for="id_job-details-job_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job title</label>
                                    <input type="text" name="job-details-job_title" id="id_job-details-job_title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Job title" required/>
                                </div>
                                <div class="w-full">
                                    <label for="id_job-details-country" class="block flex-row items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        <span>Job country location</span>
                                    </label> 
                                    <select id="id_job-details-country" name="job-details-country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        {% for country in countries %}
                                            <option value="{{ country.code }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label for="id_job-details-state_or_region" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State/Province/Region</label>
                                    <input type="text" name="job-details-state_or_region" id="id_job-details-state_or_region" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your state/province/region" required />
                                </div>
                                <div>
                                    <label for="id_job-details-employment_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Employment type</label>
                                    <select id="id_job-details-employment_type" name="job-details-employment_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="full_time" selected>Full-Time</option>
                                        <option value="part_time">Part-Time</option>
                                        <option value="apprenticeship">Apprenticeship</option>
                                        <option value="contract">Contract</option>
                                        <option value="freelance">Freelance</option>
                                        <option value="returnship">Returnship</option>
                                    </select>
                                </div>       
                                <div>
                                    <label for="id_job-details-company_department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company department</label>
                                    <input type="text" name="job-details-company_department" id="id_job-details-company_department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter company department" required />
                                </div>
                                <div>
                                    <label for="id_job-details-industry" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job category/Industry</label>
                                    <select id="id_job-details-industry" name="job-details-industry" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="education" selected>Education</option>
                                        <option value="tech">Technology</option>
                                        <option value="finance">Finance</option>
                                        <option value="manufacturing">Manufacturing</option>
                                        <option value="healthcare">Healthcare</option>
                                    </select>
                                </div> 
                            </div>

                            <div class="mb-6">
                                <label for="id_job-details-job_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job description</label>
                                <textarea id="id_job-details-job_description" name="job-details-job_description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="A well detailed description for this job..."></textarea>
                            </div> 
                            <div class="mb-6">
                                <label for="id_personal_information-video_job_description_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job Description Video (Optional)</label>
                                <input type="url" name="personal_information-video_job_description_url" id="id_personal_information-video_job_description_url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Paste YouTube, Vimeo, or Loom URL here"/>
                                <p class="mt-1 mb-4 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">Provide a link to a video that explains the job or company culture.</p>
                            </div>
                            <div class="mb-6">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-whit">Job responsibilities</label>
                                <div id="responsibilitiesContainer">
                                    <div class="flex items-center gap-2 mb-2">
                                        <input type="text" name="responsibilities" placeholder="Enter a responsibility, E.g., Manage project timelines and deliverables." 
                                               class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
                                    </div>
                                </div>
                                <button type="button" id="add-requirement-field" class="text-white bg-blue-400 mt-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-not-allowed" disabled>
                                    <svg class="w-4 h-4 mr-1 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                                    </svg>
                                    Add More
                                </button>
                            </div>                             
                            <div class="mb-6 w-full">
                                <label for="id_job-details-work_location_mode" class="block flex-row items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    <span>Work location mode</span>
                                </label> 
                                <select id="id_job-details-work_location_mode" name="job-details-work_location_mode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="ONSITE">On-site</option>
                                    <option value="REMOTE">Remote</option>
                                    <option value="HYBRID">Hybrid</option>
                                </select>
                            </div>  
                            <div class="flex items-center w-full mb-6">
                                <input id="link-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Relocation assistance <small class="text-gray-500 ml-1">Check this box if this job offers relocation assistance for candidates.</small></label>
                            </div>
                            <div class="mb-6">
                                <label for="id_job-details-job_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Relocation package assistance (Optional)</label>
                                <textarea id="id_job-details-job_description" name="job-details-job_description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="E.g., flight reimbursement, temporary housing, visa sponsorship"></textarea>
                                <p class="mt-1 mb-4 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">Provide more information about the relocation assistance offered for this role.</p>
                            </div> 
                            <div class="mb-6 w-full">
                                <label for="id_job-details-seniority_level" class="block flex-row items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    <span>Seniority level</span>
                                </label> 
                                <select id="id_job-details-seniority_level" name="job-details-seniority_level" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="JR">Junior</option>
                                    <option value="MD">Mid-level</option>
                                    <option value="SR">Senior</option>
                                    <option value="LD">Leadership</option>
                                </select>
                            </div>  

                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload job description document (Optional)</label>
                            <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file" name="job-details-job_description_document" accept=".pdf,.docx,.txt,.rtf"/>
                            <p class="mt-1 mb-4 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">.PDF, .DOCX, .TXT or .RTF (MAX. 2MB)</p>

                            {% if wizard.form.errors %}
                                {% for field in wizard.form %}
                                    {% if field.errors %}
                                        <div id="alert-2" class="flex items-center w-full p-4 mt-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                          <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                          </svg>
                                          <span class="sr-only">Info</span>
                                          <div class="ms-3 text-sm font-medium">
                                              {{ field.label }} {{ field.errors }}
                                          </div> 
                                          <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close">
                                            <span class="sr-only">Close</span>
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                          </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}


                            <button type="submit" class="text-white bg-blue-700 mt-8 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Next
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </button>
                        </form>     
                    </div>
                </div>
            </div>
        </div>
   </body>
</html>
