{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Vschools Meet">
        <meta name="description" content="Requested page not found">
        <meta name="keywords" content="404, error, not found, Vschools">
        <title>Vschools | Page not found</title>
        <link rel="shortcut icon" href="{% static 'images/whiteboard.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/404.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}
    </head>
    <body>
    	<header>
            <nav id = "navbar">
            	<button title = "Back" onclick="(window.open('/','_self'))"><i class = "fas fa-arrow-left"></i></button>
                <h1 style = "font-family: 'Brush Script MT', cursive;">Vschools</h1>
            </nav>
        </header>

        <main>
            <p id = "text_one"><span>404</span> | Page not found</p>
            <p id = "text_two">The page with the requested url could not be found or could be updated.</p>
        </main>
    </body>
</html>