{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="Page not found">
        <title>Vschools | Page not found</title>
        <link rel="shortcut icon" href="{% static 'images/whiteboard.svg' %}" type="image/svg"/>
        <link rel = "stylesheet" href = "{% static 'css/404.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
    </head>
    <body>
    	<header>
            <nav id = "navbar">
            	<button title = "Back" onclick="(window.open('/','_self'))"><i class = "fas fa-arrow-left"></i></button>
                <h1 style = "font-family: 'Brush Script MT', cursive;">Vschools</h1>
            </nav>
        </header>

        <main>
            <h2 style = "align-self: center;">404</h2>
            <p>Page not found</p>
        </main>
    </body>
</html>