{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Vschools Meet">
        <meta name="description" content="Learn about Vschools and our mission">
        <meta name="keywords" content="about, company, mission, Vschools">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self';">
        <title>About | Vschools Meet</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/privacy_policy.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}
    </head>
    <body>
    	<header>
            <nav id = "navbar" data-user_token = "{{ user_token }}">
                <h1>Vschools</h1>
            </nav>
        </header>

        <main>
            <h2>Welcome to Vschools!!</h2>
            <p>At Vschools, we're dedicated to helping individuals and businesses connect with each other through high-quality video conferencing and vitual meeting solutions. Our platform is designed to make it easy and convenient for people to collaborate, share ideas, and stay connected, no matter where they are in the world.</p>

            <h2>Our story</h2>
            <p>Vschools meet was founded in 2020 by a team of experienced software developers who recognized the need for better virtual meeting and video conferencing solutions. Our team has a passion for technology and innovation, and we're constantly striving to improve our platform and provide the best possible experience for our users.</p>

            <h2>Our Mission</h2>
            <p>Our Mission is simple: to provide high-quality virtual meeting and video conferencing solutions that empower individuals and businesses to connect and collaborate in a meaningful way. We believe that technology should be easy to use and accessible to everyone, and we're committed to making virtual meetings and video conferencing more convenient, efficient, and enjoyable.</p>

            <h2>Our Team</h2>
            <p>We're proud of our team of experienced developers, designers and support specialists who work tirelessly to ensure that Vschools Meet is always running smoothly. We're passionate about what we do, and we're always looking for ways to improve our platform and provide better service to our users.</p>

            <h2>Customer Reviews</h2>
            <p>We're thrilled to have received so many positive reviews from our customers, Here's what some of them have to say: "Vschools Meet is an amazing platform that has transformed the way we collaborate as a team. The video conferencing is crystal clear, and the virtual meeting features make it easy for us to share documents, ideas and feedback in real-time. I would highly recommend Vschools Meet to anyone looking for a reliable and efficient virtual meeting solution."</p>

            <p>"Vschools Meet is an essential tool for our business. we have team members located all over the world and Vschools Meet has made it easy for us to stay connected and collaborate on projects no matter where we are. The platform is intuitive, easy to use and provides all the features we need to be productive and effective."</p>

            <h2>Get in Touch</h2>
            <p>If you have any question or feedback about Vschools Meet, please don't hesitate to contact us on our e-mail <span>vschoolspremium@gmail.com</span>. We're always happy to hear from our users and are committed to providing the best possible experience for everyone who uses platform.</p>
        </main>
    </body>
</html>