{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | media</title>
        <link rel="icon" type="image/png" href="{% static 'logo.png' %}"/>
        <link rel = "stylesheet" href = "{% static 'accept.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
    </head>
    <body>
        <div id = "container">
            <div id = "divone">
                <div>
                    <i style = "margin-right: 10px;" class = "fas fa-video-slash"></i>
                    <i style = "margin-left: 10px;" class = "fas fa-microphone-slash"></i>
                </div>
                <p>Hello user you have not allowed Vschools to access your microphone and camera
                    allow it first to continue with video call.
                </p>
        </div>
        </div>
    </body>
</html>