{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Vschools Meet">
        <meta name="description" content="Join a real-time chat on our platform. Connect with friends and colleagues, send messages, share files and have fun chatting online.">
        <meta name="keywords" content="Chat, real-time chat, online chat, chat with friends, chat with colleagues, Vschools">
        <title>Dialogue | Vschools</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/chat.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}

        {% compress js %}
        <script src = "{% static 'js/chat.js' %}" type = "text/javascript" defer></script>
        {% endcompress %}
    </head>
    <body>
    	<header>
            <nav id = "navbar" data-profilePic = "{{ profile_picture.url }}" data-username = "{{ username }}" data-usertoken = "{{ user_token }}" style = "margin-right: auto;">
            	<button title = "Back to home" onclick="(window.open('/chat','_self'))"><i class = "fas fa-stop"></i></button>
                <h1>Vschools</h1>
                <button title = "Turn on notifications" onclick = "notifications(this)"><i class = "fas fa-bell-slash"></i></button>
            </nav>
        </header>

        <main>
            <div id = "divone" data-id = "{{ request.user.id }}">
                <p>Hello <span>{{ username.upper }}</span>, you're welcome to Vschools dialogue, you can copy the link below to 
                    invite others to the conversation.</p>
                <input type = "text" placeholder = "Chat invite link...." value = "https://vschoolsmeet.tech/chat/dialogue/{{ user_token }}"/>
                <button onclick = "copyLink(this)">Copy link <i class = "far fa-copy"></i></button>
            </div>
            <div id = "progress">
                <h2>Loading image...</h2>
                <div class = "parent">
                    <div></div>
                </div>
                <p>50%</p>
            </div>
            <div id = "audio_panel">
                <h2><i class = "fas fa-microphone"></i> Capturing audio....</h2>
                <button onclick = "sendAudio(this)">Send audio</button>
            </div>
            <p id = "alert">
                <i class = "fas fa-exclamation-triangle"></i>
            </p>
            <div id = "participants" onclick = "close()">
                <div id = "users">
                    <div id = "header">
                      <h3>1 Participant</h3>
                      <button onclick = "close()" title = 'Close'><i class = "fas fa-times"></i></button>
                    </div>
                    <div class = "chats">
                        <i class = "fas fa-users background-icon"></i>
                        <div class = 'user'>
                            <img src = '{{ profile_picture.url }}'/>
                            <p>{{ username }}</p>
                        </div>
                    </div>
                    <div class = "entries">
                        <input type = "text" placeholder = "Search user here..."/>
                        <button onclick = "close()" title = "Search user"><i class = "fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div>
                <input type = "file" hidden id = "file" onchange = "postFile(this)" accept = "image/*"/>
                <button id = "sendButton" onclick = "getFile()" title = "Send file"><i class = "far fa-surprise"></i></button>
                <input type = "text" placeholder = "Enter message here..." onkeypress = "SendWithEnter(event)" oninput = "typeNotifier(this)" autofocus/>
                <button id = "sendButton" onclick = "postMessage(this)" style = "margin-left: auto;
                    margin-right: 10px;" title = "Send message"><i class = "far fa-paper-plane"></i></button>
            </div>
            <p><button onclick = "view_users()" title = "Click to see all participants in the conversation" class = 'people'>1 participant</button>conversations with friends and family</p>
        </footer>
    </body>
</html>