{% load static %}

{% load compress %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Vschools Meet">
        <meta name="description" content="Read disclaimer for Vschools">
        <meta name="keywords" content="disclaimer, legal, liabilities, vschools">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self';">
        <title>Community guidelines | Vschools Meet</title>
        <link rel="shortcut icon" href="{% static 'images/whiteboard.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/privacy_policy.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}
	</head>
	<body>
		<header>
            <nav id = "navbar" data-user_token = "{{ user_token }}">
                <h1>Vschools</h1>
            </nav>
        </header>

        <main>
            <h2>Community guidelines</h2>
            <p>Welcome to Vschools, Our community thrives to respect, collaboration, and positive interactions among its members. To ensure a safe and enriching environment for everyone, we've established a set of Community Guidelines. These guidelines serve as the foundation of our community, outlining the principles and standards we all aim to uphold. By following these guidelines, we foster an atmosphere where diverse voices are valued, discussions are constructive, and everyone feels respected and heard. We encourage you to familiarize yourself with with these guidelines to make your experience within our community enjoyable and rewarding for all. The guidelines are as follows.</p>

            <ul>
                <li>
                    <p><span>Be Courteous</span>: Treat others with respect and courtesy. Disagreements are natural, but maintain a civil tone during discussions.</p>
                </li>
                <li>
                    <p><span>Avoid Harassment</span>: Do not engage in any form of harassment, bullying, threats or hate speech directed towards individuals or groups based on race, ethnicity, religion, gender, sexual orientation, disability, or any other characteristic.</p>
                </li>
                <li>
                    <p><span>No Trolling or Flame Wars</span>: Do not instigate conflicts or provoke others intentionally. Discussions should focus on constructive dialogue.</p>
                </li>
                <li>
                    <p><span>Constructive Conversations</span>: Engage in discussions that contribute positively to the community. Avoid personal attacks, inflammatory remarks, or derogatory language.</p>
                </li>
                <li>
                    <p><span>Respect Diverse Opinions</span>: Embrace diversity of opinions and perspectives. Disagreements are acceptable, but express dissent respectfully.</p>
                </li>
                <li>
                    <p><span>Spam-Free Environment</span>: Avoid repetitive or irrelevant content that disrupts the platform's intended purpose.</p>
                </li>
                <li>
                    <p><span>Self-Promotion Guidelines</span>: Self-promotion should be limited to designated areas. Do not excessively promote personal or commercial content unless explicity permitted.</p>
                </li>
                <li>
                    <p><span>Respect Copyright</span>: Do not post content that infringes upon copyright, trademark, or intellectual property rights of others.</p>
                </li>
                <li>
                    <p><span>Avoid Explicit or illegal Content</span>: Refrain from sharing explicit, obscene, or illegal content. This includes content that promotes violence, illegal activities, or discrimination</p>
                </li>
                <li>
                    <p><span>Respect Privacy</span>: Do not share personal information about others without their explicit consent.</p>
                </li>
                <li>
                    <p><span>Confidentiality</span>: Maintain the confidentiality of private discussions or information shared within the community.</p>
                </li>
                <li>
                    <p><span>Accurate Information</span>: Ensure that information shared is accurate and reliable. When applicable, provide sources or references to support claims or statements.</p>
                </li>
                <li>
                    <p><span>Reporting violations</span>: If you encounter inappropriate content or behavior, report it to moderators for review and action.</p>
                </li>
                <li>
                    <p><span>Relevance of Discussions</span>: Keep discussions relevant to the platform's intended purpose or specific topics to maintain the quality of interactions.</p>
                </li>
                <li>
                    <p><span>One Account per User</span>: Each user should have only one account unless explicitly permitted by platform rules.</p>
                </li>
                <li>
                    <p><span>Adherence to Policies</span>: Follow the platform's terms of service, guidelines, and policies. Violations may result in warnings, temporary suspensions, or permanent bans based on the severity of the breach.</p>
                </li>
            </ul>

            <p>Thank you for taking time to review our community guidelines. By adhering to these principles, you contribute significantly to our community's positive atmosphere. Remember, these guidelines are here to ensure that each member feels valued, respected, and safe within our community. Let's continue to engage in meaningful discussions, support one another, and foster an environment where everyone feels welcome. We appreciate your commitment to upholding these standards, and together, we can maintain a vibrant and inclusive community. Welcome once again, and thank you for being part of Vschools.</p>

        </main>

        <footer>
            
        </footer>
    </body>
</html>
