{% load static %}

{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Vschools Meet">
        <meta name="description" content="Read about our Cookie Policy and how we use cookies here at Vschools">
        <meta name="keywords" content="cookie policy, cookies, privacy, data, Vschools">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self';">
        <title>Cookie policy | Vschools Meet</title>
        <link rel="shortcut icon" href="{% static 'images/whiteboard.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/privacy_policy.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}
    </head>
    <body>
        <header>
            <nav id = "navbar" data-user_token = "{{ user_token }}">
                  <h1>Vschools</h1>
            </nav>
        </header>

        <main>
            <h2>Cookie Policy</h2>
            <p>Our website uses cookies to enhance your user experience. By using our website, you consent to our use of cookies in accordance with the terms of this policy.</p>
            <h2>What are cookies?</h2>
            <p>Cookies are small data files that are placed on your device when you visit our website. They are widely used to make websites work, or work more efficiently, as well as to provide information to the website owners. Cookies enable us to remember your preferences or recognize your device when you return to our website.

            There are different types of cookies, including session cookies and persistent cookies. Session cookies are temporary and are erased when you close your browser, while persistent cookies remain on your device for a set period of time or until you delete them.

            Cookies may be set by the website you are visiting (first-party cookies) or by third-party services that are embedded in the website (third-party cookies). We use both types of cookies on our website for various purposes, such as to analyze site usage and to provide targeted advertising.</p>
            <h2>How do we use cookies?</h2>
            <p>We use cookies on our website for a variety of purposes. Some of the ways we use cookies include:</p>
            <ul>
              <li><span>Authentication</span>: We use cookies to authenticate your identity when you log in to our website. This helps to keep your account secure and to ensure that only authorized users are able to access our virtual meeting platform.</li>
              <li><span>Session management</span>: We use session cookies to manage your session on our website. This enables us to keep track of your activity on our website and to ensure that you remain logged in while you navigate between pages.</li>
              <li><span>Personalization</span>: We use cookies to personalize your experience on our website. For example, we may use cookies to remember your language preferences or to remember the last meeting you attended</li>
              <li><span>Analytics</span>: We use cookies to gather information about how our website is being used. This helps us to improve the performance and functionality of our virtual meeting platform and to provide a better user experience</li>
            </ul>
            <h2>What types of cookies do we use?</h2>
            <p>We use the following types of cookies:</p>
            <ul>
              <li>Session cookies - these expire when you close your browser and are used to remember your login information and other preferences during your session on our website</li>
              <li>Persistent cookies - these remain on your device until they expire or you delete them and are used to remember your preferences and usage patterns over time</li>
              <li>Third-party cookies - these are set by third-party services that we use, such as analytics tools, and allow us to collect data about your usage of our website</li>
            </ul>

            <h2>How can you control cookies?</h2>
            <p>You have the right to choose whether or not to accept cookies on our virtual meeting website. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer.

            If you choose to decline cookies, you may not be able to fully experience the interactive features of our virtual meeting platform or some of our services may not function properly.

            Here's how you can control cookies in the most popular web browsers:</p>

            <ul>
            <li><span>Google Chrome</span>: Click on the three dots in the top-right corner of your browser window, then click "Settings." Scroll down and click "Advanced," then click "Privacy and security." Under "Privacy and security," click "Content settings," then click "Cookies." Here, you can enable or disable cookies and set other cookie preferences.</li>
            <li><span>Mozilla Firefox</span>: Click on the three lines in the top-right corner of your browser window, then click "Options." Click "Privacy & Security" on the left-hand side of the window. Under "Cookies and Site Data," you can choose to accept cookies from sites, block cookies from sites, or block third-party cookies</li>
            <li><span>Apple Safari</span>: Click "Safari" in the top-left corner of your screen, then click "Preferences." Click "Privacy" on the top row of the window. Under "Cookies and website data," you can choose to block all cookies, block only third-party cookies, or allow all cookies.</li>
            <li><span>Microsoft Edge</span>: Click on the three dots in the top-right corner of your browser window, then click "Settings." Click "Privacy and services" on the left-hand side of the window. Under "Cookies and site permissions," you can choose to block all cookies, block only third-party cookies, or allow all cookies</li>
            </ul>

            <h2>Changes to this policy</h2>
            <p>We may update this cookie policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal, or regulatory reasons.

            If we make any material changes to this cookie policy, we will notify you by posting a prominent notice on our virtual meeting website or by sending you an email to the email address you have provided.

            We encourage you to review this cookie policy periodically to stay informed about our use of cookies.</p>
            <h2>Contact us</h2>
            <p>If you have any questions about this policy, please contact us at <span>vschoolspremuim@gmail.com</span></p>
        </main>
    </body>
</html>
