{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Vschools Meet">
        <meta name="description" content="Join our chat platform and connect with friends and colleagues in real-time. Start conversations, share updates, and have fun chatting online.">
        <meta name="keywords" content="Chat website, online chat, real-time chat, chat with friends, chat with colleagues, vschools">
        <title>Dialogue | Vschools</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/dialogue.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}
    </head>
    <body>
    	<header>
            <nav id = "navbar">
                <h1>Vschools</h1>
            </nav>
        </header>

        <main>
            <h2>Welcome to Vschools dialogue!!</h2>
            <p>Welcome to our vibrant chat community, where connections come alive! We're thrilled to have you here as you step into this virtual gathering space, prepare to embark on an exciting journey of sharing ideas, laughter and profound conversations</p>

            <div id = "divone">
                <a href = "/chat/search">Join conversation</a>
                {% if request.user.is_authenticated %}
                    <a href = "/chat/dialogue/{{ user_token }}">Start conversation</a>
                {% else %}
                    <a href = "/login">Start conversation</a>
                {% endif %}
            </div>
        </main> 

        <footer>
            <div class = "policies">
                <p>Vschools <i class = "far fa-copyright"></i> 2023</p>
                <a href = "{% url 'about' %}" target="_blank">About</a>
                <a href = "{% url 'privacy_policy' %}" target="_blank">Privacy policy</a>
                <a href = "{% url 'terms_of_service' %}" target="_blank">Terms of service</a>
                <a href = "{% url 'cookie_policy' %}" target="_blank">Cookie policy</a>
                <a href = "{% url 'disclaimer' %}" target="_blank">Disclaimer</a>
            </div>
        </footer>
    </body>
</html>