{% load static %}

{% load compress %}

<!DOCTYPE html>  
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="You have successfully verified your e-mail and can hereby proceed to the login page">
        <title>Vschools | E-mail verified successfully</title>
        {% compress css %}
        <link rel = "stylesheet" id = "styles" href = "{% static 'css/email_verified.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        {% endcompress %}
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
        </div>

        <h2>E-mail successfully verified</h2>
        <p style = "max-width: 300px;">Hello user your e-mail has been successfully 
                verified, please proceed to the login page below.
        </p>
        <img src = "{% static 'images/mail_sent.svg' %}"/>
        <a href = "{% url 'login' %}">Proceed to login</a>
        <p class = "footer" style = "color: rgba(0, 0, 0, 0.653); font-size: 13px;"><i class = "far fa-copyright"></i> 2023 | Vschools premium | All Rights Reserved.</p>
    </body>
</html>