{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | People</title>
        <link rel = "stylesheet" href = "{% static 'follow.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <script src = "{% static 'follow.js' %}"></script>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
            <a href = "{% url 'logout' %}">Sign out</a>
        </div>

        <div id = "container">
            <div id = "divone">
                <p>You might be knowing these people or familiar to them in some way.</p>
            </div>
            <div class = "follow">
                <img src = "http://127.0.0.1:8000/media/posts/IMG_8895.JPG" width = 300 height = 230/>
                <button class = "close"><i class = "fas fa-times"></i></button>
                <p>Katumba Victor</p>
                <button class = "follow_button"><i class = "far fa-bell"></i> Follow</button>
            </div>
            <div class = "follow">
                <img src = "http://127.0.0.1:8000/media/posts/IMG_8895.JPG" width = 300 height = 230/>
                <button class = "close"><i class = "fas fa-times"></i></button>
                <p>Katumba Victor</p>
                <button class = "follow_button"><i class = "far fa-bell"></i> Follow</button>
            </div>
            <div class = "follow">
                <img src = "http://127.0.0.1:8000/media/posts/IMG_8895.JPG" width = 300 height = 230/>
                <button class = "close"><i class = "fas fa-times"></i></button>
                <p>Katumba Victor</p>
                <button class = "follow_button"><i class = "far fa-bell"></i> Follow</button>
            </div>
            <div class = "follow">
                <div class = "no_pic"><i class = "fas fa-user"></i></div>
                <button class = "close"><i class = "fas fa-times"></i></button>
                <p>Katumba Victor</p>
                <button class = "follow_button"><i class = "far fa-bell"></i> Follow</button>
            </div>
        </div>
    </body>
</html>