{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Vschools | Passwords</title>
        <link rel = "stylesheet" href = "{% static 'dark/forgot_password.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src = "{% static 'sign_up.js' %}" defer></script>
    </head>
    <body>
        <div id = "navbar">
            <button onclick="back()"><i class = "fas fa-arrow-left"></i></button>
            <h1>Vschools</h1>
        </div>
        <div class = "holder">
            <h2>Forgot password??</h2>
            <p>Enter your email to continue with password reset</p>
            <form method = "POST" autocomplete="off" id = "form">
                {% csrf_token %}
                <input type = "email" placeholder = "Enter e-mail" name = "email" autofocus required/>
                <button type = "submit">Submit</button>
            </form>
        </div>
        <p class = "footer" style = "color: rgba(0, 0, 0, 0.653); font-size: 13px;">Premium</p>
    </body>
</html>