{% load static %}

{% load compress %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="Enter your e-mail address to receive a link for password reset, the link will expire in one day if not used">
        <title>Vschools | Forgot password</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        <link rel = "stylesheet" href = "{% static 'css/forgot_password.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        <script src = "{% static 'js/sign_up.js' %}" defer></script>
    </head>
    <body>
        <div id = "navbar">
            <button title = "Back to home" onclick="back()"><i class = "fas fa-arrow-left"></i></button>
            <h1>Vschools</h1>
        </div>
        <div class = "holder">
            <h2>Forgot password??</h2>
            <p>Enter your email to continue with password reset</p>
            <form method = "POST" autocomplete="off" id = "form">
                {% csrf_token %}
                <input type = "email" placeholder = "Enter e-mail" name = "email" autofocus required/>
                <button type = "submit">Submit</button>
            </form>
        </div>
        <p class = "footer" style = "color: rgba(0, 0, 0, 0.653); font-family: 'Brush Script MT', cursive; font-size: 24px;">Premium</p>
    </body>
</html>