{% load static %}

<!DOCTYPE html>
    <head>
        <title>Vschools | Groups</title>
        <link rel = "stylesheet" href = "{% static 'groups.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
            <div id = "search">
                <button><i class = "fas fa-search"></i></button>
                <input type = "search" placeholder="Search friends for group"/>
            </div>
        </div>
 
        <div id = "divone">
            <p>
                Create a group to confine your communication such as messages, live streams 
                videos and images chats with selected members of your choice.
            </p>

            <div id = "group_name">
                <input type = "text" placeholder="Create new group here"/>
                <button type="submit"><i class = "fas fa-users"></i></button>
            </div>

            <div>
                <img src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" 
                    class = "profile_pic" height = 40 width = 40/>
                <p style = "font-weight: bold; color: grey; margin-left: 10px;">Lule Mark</p>
                <button class = "add" style = "margin-left: auto;">Add to group</button>
            </div>

            <div>
                <img src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" 
                    class = "profile_pic" height = 40 width = 40/>
                <p style = "font-weight: bold; color: grey; margin-left: 10px;">Katumba Victor</p>
                <button class = "add" style = "margin-left: auto;">Add to group</button>
            </div>

            <div>
                <img src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" 
                    class = "profile_pic" height = 40 width = 40/>
                <p style = "font-weight: bold; color: grey; margin-left: 10px;">Katambula John</p>
                <button class = "add" style = "margin-left: auto;">Add to group</button>
            </div>
        </div>

        <div id = "invite">
            <img src = "{% static 'group_selfie.svg' %}" width = 200 height = 200/>
            <p style = "color: grey; margin-top: 0;">Invite friends and followers to your group.</p>
        </div>
    </body>
</html>