{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="You're welcome to Vschools Meet">
        <title>Vschools | Welcome</title>
        <link rel="shortcut icon" href="{% static 'images/whiteboard.svg' %}" type="image/svg"/>
        <link rel = "stylesheet" href = "{% static 'css/home.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
    </head>
    <body>
        <header></header>
        <main>
    </body>
</html>