{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="Start or join a meeting">
        <title>Vschools | Home</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/home.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}
        {% compress js %}
        <script src = "{% static 'js/home.js' %}" type = "text/javascript" defer></script>
        {% endcompress %}
    </head>
    <body>
        <header>
            <nav id = "navbar" data-user_token = "{{ user_token }}">
                <img src = "{{ profile_picture.url }}" alt = "{{ request.user }} profile picture"/>
                <h1 style = "font-family: 'Brush Script MT', cursive;">Vschools</h1>
                <button onclick = "(document.getElementById('options').style.display = 'flex')"><i class = "fas fa-ellipsis-h"></i></button>
            </nav>
        </header>

        <main>
            <div id = "options">
                <div>
                    <button onclick="settings()">Profile</button>
                    {% if meetings %}
                        <button onclick="scheduled_meetings()">Scheduled meetings</button>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <button onclick="(window.open('/admin','_self'))">Admin panel</button>
                    {% endif %}
                    <button onclick = "(window.open('/chat','_self'))">Dialogue</button>
                    <button onclick="logout()">Logout</button>
                    <button style = "border: none" onclick="(document.getElementById('options').style.display = 'none')">Cancel</button>
                </div>
            </div> 
            <div id = "container">
                <div id = "divone">
                    <h2>Virtual quality meetings</h2>
                    <p class = "header">Hello <span>{{ request.user.username }}</span> meet from anywhere and get the best classroom experience at a location of your convenience.
                    </p>
                    {% csrf_token %}
                    <button onclick = "start_meeting(this)" class = "start"><i class = "fas fa-plus"></i> Start a meeting</button>
                    <div class = "join">
                        <form style = "flex-direction: row;" onsubmit = "join_meeting(event)" autocomplete="off">
                            <input type = "text" id = "passcode_field" oninput = "check_passcode(this)" onfocus="input_focus(this)" placeholder = "Enter meeting passcode" onblur = "input_blur(this)" required/>
                            <button type = "submit" disabled>Join</button>
                        </form>
                    </div>
                    <p class = 'schedule'><a href = "{% url 'schedule' %}"><i class = "far fa-calendar"></i> Schedule and plan</a> for a future meeting.</p>
                </div>
                <div id = "divtwo">
                    <img src = "{% static 'images/conversation.svg' %}"/>
                    <p>Quality meetings</p>
                </div>
            </div>
        </main>

        <footer>
            <div class = "policies">
                <p>Vschools <i class = "far fa-copyright"></i> 2023</p>
                <a href = "{% url 'about' %}">About</a>
                <a href = "{% url 'privacy_policy' %}">Privacy policy</a>
                <a href = "{% url 'terms_of_service' %}">Terms of service</a>
                <a href = "{% url 'cookie_policy' %}">Cookie policy</a>
                <a href = "{% url 'disclaimer' %}">Disclaimer</a>
            </div>
            <div class = "links">
                <a href = "https://www.instagram.com/vschools_meet/" target = "_blank"><i class = "fab fa-instagram"></i></a>
                <a href = "https://www.linkedin.com/in/vschools-meet-4a9a78157/" target = "_blank"><i class = "fab fa-linkedin"></i></a>
                <a href = "https://www.facebook.com/profile.php?id=100092488212217&mibextid=ZbWKwL" target = "_blank"><i class = "fab fa-facebook"></i></a>
                <a href = "https://twitter.com/VschoolsM97310" target = "_blank"><i class = "fab fa-twitter"></i></a>
            </div>
            
            <p id = "notification"><i class = "fas fa-exclamation-triangle"></i> No meeting found with the given passcode</p>
        </footer>
    </body>
</html>