{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="Vschools chat platform">
        <title>Invite user | Vschools</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/invite.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}" type="text/css"/>
        {% endcompress %}

        {% compress js %}
        <script src = "{% static 'js/invite.js' %}" type = "text/javascript" defer></script>
        {% endcompress %}
    </head>
    <body>
        <header>
            <nav id = "navbar" style = "margin-right: auto;">
                <button title = "Back to home" onclick="(window.open('/','_self'))"><i class = "fas fa-arrow-left"></i></button>
                <h1 style = "font-family: 'Brush Script MT', cursive;">Vschools</h1>
            </nav>
        </header>
        
    </body>
</html>