{% autoescape off %}

Hi {{ username }},

You're cordially invited to an engaging chat session at Vschools Dialogue, Michael has extended a special invitation for you to join a lively discussion on various topics at the chat platform, This is a wonderful opportunity to connect, share your thoughts, and learn from fellow participants.

Date: [Date]
Time: [Time]
Location: https://dialogue.vschoolsmeet.tech

Please be a part of this exciting chat and enjoy insightful conversations. Michael is looking forward to chatting with you and exchanging ideas.

Your presence will truly enrich our chat community We can't wait to see you there!

Best regards,
The vschoolsmeet.tech team

{% endautoescape %}

{% load static %}