{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | live</title>
        <link rel = "stylesheet" href = "{% static 'live.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <script src = "{% static 'live.js' %}"></script>
    </head>
    <body>
        <video id = "stream" autoplay></video>
        <div id = "divone">
            <div id = "divtwo">
                <h2>Vschools live</h2>
                <div>
                    <button id = "button1">Start stream</button>
                    <button id = "button2">Invite friends</button>
                </div>
                <p>Invite your friends and followers to watch you stream live.</p>
            </div>
        </div>
    </body>
</html>