{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | Meetings</title>
        <link rel="icon" type="image/png" href="{% static 'logo.png' %}"/>
        <link rel = "stylesheet" href = "{% static 'meetings.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <script src = "{% static 'meetings.js' %}"></script>
    </head>
    <body>
        <video id = "vid" class = "video" autoplay></video>
        <div id = "divtwo">
            <button><i class = "fas fa-microphone"></i></button>
            <button style = "margin-left: 20px;"><i class = "far fa-surprise"></i></button>
            <button style = "margin-left: 20px;"><i class = "fas fa-video"></i></button>
        </div>

        <div id = "name">
            <img src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" class = "profile_pic" height = 40 width = 40/>
            <p>Katumba Victor</p>
        </div>

        <div id = "divone">
            <div>
                <button><i class = "fas fa-envelope"></i></button>
                <button><i class = "fas fa-surprise"></i></button>
                <button><i class = "fas fa-users"></i></button>
                <button><i class = "fas fa-video"></i></button>
            </div> 
            <video id = "vid2" autoplay class = "video2"></video>
            <video id = "vid2" autoplay class = "video2"></video>
            <video id = "vid2" autoplay class = "video2"></video>
        </div>
    </body>
</html>