{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test page 2</title>
        <link rel = "stylesheet" href = "{% static 'css/test.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src = "{% static 'js/adapter.js' %}"></script>
        <script src = "{% static 'js/janus.js' %}"></script>
        <script src = "{% static 'js/unauthenticated.js' %}" defer></script>
    </head>
    <body>
        <div id = "container" data-id = "{{ reuest.user.id }}">
            
        </div>
    </body> 
</html> 