{% load static %}

<!DOCTYPE html>
    <head>
        <title>Vschools | messaging</title>
        <link rel = "stylesheet" href = "{% static 'messages.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src = "{% static 'messages.js' %}"></script>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
            <a href = "{% url 'logout' %}">Sign out</a>
        </div>  

        <div id = "main">
            <div id = "divone">
                <div id = "search">
                    <button><i class = "fas fa-search"></i></button>
                    <input type = "text" placeholder="Search conversation here"/>
                </div>

                <div id = "all_chats">
                    <img class = "profile" src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" height = 39 width = 39/>
                    <p>Katumba Victor</p>
                </div>

                <div id = "all_chats">
                    <img class = "profile" src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" height = 39 width = 39/>
                    <p>Katumba Victor</p>
                </div>

                <div id = "all_chats">
                    <img class = "profile" src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" height = 39 width = 39/>
                    <p>Katumba Victor</p>
                </div>
            
            </div>
            <div id = "divtwo">
                <img class = "profile" src = "http://127.0.0.1:8000/media/posts/IMG_8723.JPG" height = 39 width = 39/>
                <p id = "name">Katumba Victor</p>
                <button id = "live"><i class = "fas fa-video"></i></button>
                <button><i class = "fas fa-paperclip"></i></button>
                <button><i class = "fas fa-ellipsis-h"></i></button>
            </div>

            <div id = "divthree">
                <p class = "receiver">hi good morning</p>

            </div>

            <div id = "divfour">
                <input type = "file" hidden/>
                <button><i class = "fas fa-microphone"></i></button>
                <button><i class = "far fa-surprise"></i></button>
                <input id = "message" type = "text" placeholder="Write message here"/>
                <button onclick="send_message()"><i class = "far fa-paper-plane"></i></button>
            </div>
        </div>
    </body>

</html>