{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | Posts</title>
        <link rel = "stylesheet" href = "{% static 'posts.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src = "{% static 'posts.js' %}"></script>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
        </div>

        <div class = "divone"> 
            <h2 style = "color: grey;">Upload photo</h2>
            <p style="color: grey; margin-top: 0;">Share some pictures or videos with friends and followers.</p>
            <div class = "divtwo" id = "divtwo">
                <i class = "fas fa-upload"></i>
                <p style = "color: grey;">Let's share some media.</p>
            </div>
            <img id = "img"/>
            <input type = "text" class = "caption"/>
            <button id = "one" class = "one" onclick="getImage()"><i class = "fas fa-image"></i> Upload image</button>

            <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type = "file" name = "file_uploaded" onchange = "view_files()" accept = "image/*" id = "image" required hidden/>
                <button type = "submit" id = "post">Post</button>
            </form>
            <p id = "footer">Vschools premium</p>
        </div>  

        <div class = "divone"> 
            <h2 style = "color: grey;">Upload video</h2>
            <p style="color: grey; margin-top: 0;">Share some pictures or videos with friends and followers.</p>
            <div class = "divtwo">
                <i class = "fas fa-play-circle"></i>
                <p style = "color: grey;">Let's share some media.</p>
            </div>
            <img id = "vid"/>
            <input type = "text" class = "caption"/>
            <button id = "two" onclick="getVideo()"><i class = "fas fa-image"></i> Upload video</button>

            <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type = "file" name = "file_uploaded" onchange = "view_files()" accept = "video/*" id = "video" required hidden/>
                <button type = "submit" id = "post_video">Post</button>
            </form>
            <p id = "footer">Vschools premium</p>
        </div> 
    </body>
</html>