{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Vschools | Notifications</title>
        <link rel = "stylesheet" href = "{% static 'notifications.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
            <a href = "{% url 'logout' %}">Sign out</a>
        </div>

        <div class = "divone">
            <img src = "{% static 'notifications.svg' %}" height = "200" width = "200"/>
            <div>
                <h2><i class = "far fa-bell"></i> Notifications</h2>
                <p>
                    You have no notifications yet.
                </p>
            </div>
        </div>

        <div class = "notifications">
            <p>Mark is inviting you to see him stream live click the link below to join.</p>
            <div>
                <a href = "#">Join stream now</a>
                <button>May be later</button>
            </div>
        </div>
    </body>
</html>