{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Vschools | info</title>
        <link rel = "stylesheet" href = "{% static 'person.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
        </div>

        <div id = "divone">
            <div class = "follow_div">
                {% if person.profile_picture %}
                    <img src = "{{ person.profile_picture.url }}" style = "width: 100%; height: auto;"/>
                {% else %}
                    <div class = "no_pic"><i class = "fas fa-user"></i></div>
                {% endif %}
                <button class = "close"><i class = "fas fa-paper-plane"></i></button>
                <p>{{ person.user.username }}</p>
                <button class = "follow_button" data-id = "2"><i class = "far fa-bell"></i> Follow</button>
            </div>
            <div id = "info">
                <h2><i class = "far fa-user"></i> Account info</h2>
                <p><i class = "far fa-user"></i> {{ person.user.username }}</p>
                <p><i class = "fas fa-info-circle"></i> description</p>
                <p><i class = "far fa-bell"></i> 100</p>
                <p><i class = "fas fa-upload"></i> 80</p>
                <p><i class = "far fa-envelope"></i> {{ person.user.email }}</p>
                <a href = "#"><i class = "fas fa-paper-plane"></i> Send message</a>
            </div>
        </div>

        {% if posts %}
            <div id = "divtwo">
                <p>See all posts from {{ person.user.username }}</p>
            </div>
            {% for post in posts %}
            <div class = "post_div2">
                <p class = "date"><i class = "far fa-clock"></i> {{ post.date }}</p>

                {% if post.caption %}
                    <p class = "text_post">
                        {{ post.caption }}
                    </p>
                {% endif %}

                <img src = "{{ post.file_uploaded.url }}" style = "width: 100%; height: auto;"/>

                <div class = "post_info2">
                    <button onclick = "like(this)" data-post_id = {{post.id}}><i class = "far fa-heart"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-comment"></i></button>
                    <p style = "color: grey;">0</p>
                    <div>
                        <input type = "text" id = {{ post.id }} placeholder="What do you think"/>
                        <button><i class = "far fa-surprise"></i></button>
                        <button onclick = "comment(this)"><i class = "far fa-paper-plane"></i></button>
                    </div>
                </div>
            </div> 
            {% endfor %}
        {% endif %}
        
    </body>
</html>