{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | Saved posts</title>
        <link rel="icon" type="image/png" href="{% static 'logo.png' %}"/>
        <link rel = "stylesheet" href = "{% static 'saved.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
    </head>
    <body>
    <div id = "navbar">
            <h1>Vschools</h1>
            <div id = "search">
                <button><i class = "fas fa-search"></i></button>
                <input type = "search" placeholder="Search Vschools"/>
            </div>
            <a href = "{% url 'logout' %}">Sign out</a>
        </div>
    <div>
        <div class = "post_div2">
                <div class = "post_info">
                    <a href = "#"><i class = "far fa-user"></i> {{ request.user }}</a>
                    <button style = "margin-left: auto; margin-right: 15px;" 
                            onclick="display_options()"><i class = "far fa-bookmark"></i></button>
                    <button onclick="display_options()"><i class = "fas fa-ellipsis-h"></i></button>
                </div>
                <p class = "text_post">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et 
                    egestas nibh. Donec et dapibus orci. Pellentesque rutrum dolor sit amet
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et 
                    egestas nibh. Donec et dapibus orci. Pellentesque rutrum dolor sit amet
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et 
                    egestas nibh. Donec et dapibus orci. Pellentesque rutrum dolor sit amet
                </p>
                <div class = "post_info2">
                    <button><i class = "far fa-heart"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-bell"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-envelope"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-comment"></i></button>
                    <p style = "color: grey;">0</p>
                    <input type = "text" placeholder="What do you think"/>
                </div>
            </div>

            {% if saved_posts %}
            {% for post in saved_posts %}
            <div class = "post_div2">
                <div class = "post_info">
                    <a href = "#"><i class = "far fa-user"></i> {{ post.user.username }}</a>
                    <button style = "margin-left: auto; margin-right: 15px;" 
                            onclick="display_options()"><i class = "fas fa-trash"></i></button>
                    <button><i class = "fas fa-share"></i></button>
                </div>
                <p class = "text_post">
                    {{ post.caption }}
                </p>

                <img src = "{{ post.post.file_uploaded.url }}"/>

                <div class = "post_info2">
                    <button><i class = "far fa-heart"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-bell"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-envelope"></i></button>
                    <p style = "color: grey;">0</p>
                    <button><i class = "far fa-comment"></i></button>
                    <p style = "color: grey;">0</p>
                    <input type = "text" placeholder="What do you think"/>
                </div>
            </div> 
            {% endfor %}
            {% endif %}
    </body>
</html>