{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | Scheduler</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        
        <link rel = "stylesheet" href = "{% static 'css/schedule_onetime_meeting.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        

        
        <script src = "{% static 'js/schedule_onetime_meeting.js' %}" type = "text/javascript" defer></script>
        
    </head>
    <body>
        <div id = "navbar">
            <button title = "Back to home" onclick="back()"><i class = "fas fa-arrow-left"></i></button>
            <h1>Vschools</h1>
        </div>
        <div id = "divone">
            <h2><i class = "far fa-calendar"></i> Schedule a one time meeting.</h2>
            <p class = "header">This meeting will be scheduled to happen only one time at a particular date and time and will not be repeated.
            </p>
            <form method = "POST" id = "form">
                {% csrf_token %}
                <div class = "holder">
                    <i class = "fas fa-pen"></i>
                    <input type = "text" placeholder="Meeting title goes here..." name = "title" required/>
                </div>

                <div class = "holder">
                    <i class = "far fa-calendar"></i>
                    <input type = "text" placeholder = "Select meeting date..." name = "date" onfocus = "(this.type = 'date')" onblur = "(this.type = 'text')" onchange = "getDate(this)" required/>
                </div>

                <div class = "holder">
                    <i class = "far fa-clock"></i>
                    <input type = "text" placeholder = "Select meeting start time..." name = "start_time" onfocus = "(this.type = 'time')" onblur = "(this.type = 'text')" onchange = "getTime(this)" required/>
                </div>

                <div class = "holder">
                    <i class = "far fa-bell"></i>
                    <select name = "reminder">
                        <option>Email reminder</option>
                        <option>Don't remind</option>
                    </select>
                </div>

                <textarea placeholder="Write a short description about the meeting" name = "description" required></textarea>

                <button type = "submit">Schedule</button>
            </form>
        </div>
    </body>
</html> 