{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vschools | Scheduler</title>
        <link rel = "stylesheet" href = "{% static 'dark/schedule.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body oncontextmenu = "return false">
        <div id = "navbar">
            <h1>Schedule</h1>
        </div>

        <div id = "container">
        <div id = 'divone'>
            <h2><i class = "far fa-clock"></i> Schedule your next meeting session</h2>
            <p>
                This Schedule shall help your meeting participants to know the date of the next meeting
                to help them catch up easily...
            </p>
            <form method = "POST" id = "form">
                {% csrf_token %}
                <input type = "text" size = "50" placeholder = "Enter session title...." required/>
                <input type = "datetime-local" required/>
                
                <button type = "submit">Save</button>
            </form>
        </div>

        <div id = 'divtwo'>
            <img src = "{{ request.profile_picture.url }}"/>
            <h2>{{ request.user.username }}</h2>
            <p>meeting host</p>
        </div>
        </div>

        <div id = 'divthree'>
        <p class = "premium">scheduler</p>
        </div>
    </body>
</html>