{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | Scheduler</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        
        <link rel = "stylesheet" href = "{% static 'css/schedule.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        

        
        <script src = "{% static 'js/schedule.js' %}" type = "text/javascript" defer></script>
        
    </head>
    <body>
        <div id = "navbar">
            <button title = "Back to home" onclick="back()"><i class = "fas fa-arrow-left"></i></button>
            <h1>Vschools</h1>
        </div>
        <div id = "divone">
            <h2><i class = "far fa-calendar"></i> Schedule your next meeting session</h2>
            <p class = "header">Learn from anywhere, get the best classroom experience from anywhere all over the globe at a location of your convenience
            </p>
            <form method = "POST">
                {% csrf_token %}
                <div class = "holder">
                    <i class = "fas fa-pen"></i>
                    <input type = "text" placeholder="Meeting title goes here..." name = "title" required/>
                </div>

                <div class = "holder">
                    <i class = "far fa-calendar"></i>
                    <input type = "text" placeholder = "Select meeting date..." name = "date" onfocus = "(this.type = 'date')" onblur = "(this.type = 'text')" required/>
                </div>

                <div class = "holder">
                    <i class = "far fa-clock"></i>
                    <input type = "text" placeholder = "Select meeting start time..." name = "start_time" onfocus = "(this.type = 'time')" onblur = "(this.type = 'text')" required/>
                </div>

                <div class = "holder">
                    <i class = "far fa-calendar"></i>
                    <select>
                        <option>Don't repeat</option>
                        <option>Repeat every week</option>
                        <option>Repeat every month</option>
                        <option>Repeat every year</option>
                    </select>
                </div>

                <div class = "holder">
                    <i class = "far fa-bell"></i>
                    <select>
                        <option>Email reminder</option>
                        <option>Don't remind</option>
                    </select>
                </div>

                <textarea placeholder="Write a short description about the meeting" name = "description" required></textarea>

                <p>(Optional) Days in a week</p>
                <section>
                  <input id='one' type='checkbox' />
                  <label for='one'>
                    <span></span>
                      Mon
                    <ins><i>Mon</i></ins>
                  </label>
                  
                  <input id='two' type='checkbox' />
                  <label for='two'>
                    <span></span>
                      Tue
                    <ins><i>Tue</i></ins>
                  </label>
                  
                  <input id='three' type='checkbox' />
                  <label for='three'>
                    <span></span>
                     Wed
                    <ins><i>Wed</i></ins>
                  </label>
                  
                  <input id='four' type='checkbox' />
                  <label for='four'>
                    <span></span>
                      Thur
                    <ins><i>Thur</i></ins>
                  </label>
                  
                  <input id='five' type='checkbox' />
                  <label for='five'>
                    <span></span>
                      Fri
                    <ins><i>Fri</i></ins>
                  </label>

                  <input id='six' type='checkbox' />
                  <label for='six'>
                    <span></span>
                      Sat
                    <ins><i>Sat</i></ins>
                  </label>

                  <input id='seven' type='checkbox' />
                  <label for='seven'>
                    <span></span>
                      Sun
                    <ins><i>Sun</i></ins>
                  </label>

                </section>
                <button type = "submit">Schedule</button>
            </form>
        </div>
    </body>
</html> 