{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vschools | Scheduler</title>
        <link rel = "stylesheet" href = "{% static 'css/scheduledMeeting.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src = "{% static 'js/schedule.js' %}" type = "text/javascript" defer></script>
    </head>
    <body oncontextmenu="return false">
        <div id = "navbar">
            <button onclick="back()"><i class = "fas fa-arrow-left"></i></button>
            <h1>Vschools</h1>
        </div>
        <h2><i class = "far fa-calendar"></i> Meeting title goes here</h2>
        <p>This meeting is scheduled to start at exactly 3:00pm with GOD almighty 
            today and we shall see what to do...
        </p>
        <h3>Meeting host - Katumba Victor</h3>
        <h3>Start time - 3:00pm</h3>
        <a href = "/">Return to home</a>
    </body>
</html>
