{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vschools | Account info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <meta name="description" content="Update your account profile">
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        <link type = "text/css" rel = "stylesheet" href = "{% static 'css/settings_page.css' %}"/>
        <link type = "text/css" rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        <link type = "text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css" integrity="sha512-6QxSiaKfNSQmmqwqpTNyhHErr+Bbm8u8HHSiinMEz0uimy9nu7lc/2NaXJiUJj2y4BApd5vgDjSHyLzC8nP6Ng==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type = "text/javascript" src = "{% static 'js/settings.js' %}" defer></script>
    </head>
    <body>
        <header>
            <nav id = "navbar">
                <h1 style = "font-family: 'Brush Script MT', cursive;">Vschools</h1>
                <button title = "Back to home" onclick="(window.open('/','_self'))"><i class = "fas fa-arrow-left"></i></button>
            </nav>
        </header>

        <main>
            <div id = "parent">
                <div id = "divtwo">
                    <img src = "{{ user.profile_picture.url }}"/>
                    <p>Click below to update your profile photo</p>
                    <input type="file" id = "photo" onchange = "crop_photo(this)" accept="image/*" hidden/>
                    <button onclick = "get_photo()"><i class = "fas fa-camera"></i> Choose image</button>
                </div>
                <div id = "divone">
                    <h2><i class = "fas fa-pen"></i> Account information</h2>
                    <p class = "header">You can update your account profile below...
                    </p>
                    <form method = "POST" id = "form" onsubmit="update_info(event)">
                        {% csrf_token %}
                        <input type = "text" value = "{{ user.username }}" id = "username" placeholder="Username" required/>
                        <input type = "text" value = "{{ request.user.email }}" placeholder="Your e-mail"/>
                        <input type = "password" id = "password_one" placeholder="You can update your password here..."/>
                        <input type = "password" id = "password_two" placeholder="Confirm your password here..."/>
                        <button type = "submit">Update info</button>
                    </form>
                </div>
            </div>

            <div id = "cropper_holder">
                <div id = "container">
                    <div id = "main">
                        <img id = "picture"/>
                    </div>
                    <div id = "buttons">
                        <button style = "margin-left: auto; color: red;" onclick = "cancel()"><i class = "fas fa-times"></i></button>
                        <button onclick = "crop()" style = "color: green; margin-right: 20px;"><i class = "fas fa-check"></i></button>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p class = "footer"><i class = "far fa-copyright"></i> 2023 | Vschools premium | All Rights     Reserved.</p>
            <p id = "notification">hello</p>
        </footer>
    </body>
</html>