{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test page 1</title>
        <link rel = "stylesheet" href = "{% static 'test.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src = "{% static 'test.js' %}" defer></script>
    </head>
    <body>
        <section>
          <input id='one' type='checkbox' />
          <label for='one'>
            <span></span>
              Mon
            <ins><i>Mon</i></ins>
          </label>
          
          <input id='two' type='checkbox' />
          <label for='two'>
            <span></span>
              Tue
            <ins><i>Tue</i></ins>
          </label>
          
          <input id='three' type='checkbox' />
          <label for='three'>
            <span></span>
             Wed
            <ins><i>Wed</i></ins>
          </label>
          
          <input id='four' type='checkbox' />
          <label for='four'>
            <span></span>
              Thur
            <ins><i>Thur</i></ins>
          </label>
          
          <input id='five' type='checkbox' />
          <label for='five'>
            <span></span>
              Fri
            <ins><i>Fri</i></ins>
          </label>

          <input id='six' type='checkbox' />
          <label for='six'>
            <span></span>
              Sat
            <ins><i>Sat</i></ins>
          </label>

          <input id='seven' type='checkbox' />
          <label for='seven'>
            <span></span>
              Sun
            <ins><i>Sun</i></ins>
          </label>

        </section>
    </body> 
</html> 