{% load static %}

<!DOCTYPE html>
    <head>
        <title>Vschools | User details</title>
        <link rel = "stylesheet" href = "{% static 'user_info.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
            <a href = "{% url 'logout' %}">Sign out</a>
        </div>

        <div id = "divone">
            <div  id = "divtwo">
                <div id = "pic">
                    {% if user.profile_picture %}
                    <img src = "{{ user.profile_picture.url }}" id = "profile_pic"/>
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                    <p style = "font-weight: bold;">Ordinary account</p>
                    <p style = "font-style: italic;">Posts: 20</p>
                    <p style = "font-style: italic;">Following: 0</p>
                </div>
                
                <div id = "info">
                    <h2>My account</h2>
                    <div>
                        <i class = "far fa-user"></i><input type = "text" placeholder = "Change your user name here" 
                        value ="{{ request.user }}"/>
                    </div>

                    <div>
                        <i class = "far fa-envelope"></i><input type = "text" placeholder = "Change your e-mail name here"
                        value ="{{ request.user.email }}"/>
                    </div>

                    <div>
                        <i class = "far fa-bell"></i><input type = "text" placeholder = "Your followers"
                        value ="200"/>
                    </div>

                    <div>
                        <i class = "far fa-clock"></i><input type = "text" placeholder = "Date joined"
                        value ="March 20, 2021"/>
                    </div>

                    <div>
                        <i class = "fas fa-lock"></i><input type = "password" value ="March, 24 2021"/>
                    </div>
                    <button>Change my info</button>
                </div>
            </div>
        </div>

        <div id = "update">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et 
                egestas nibh. Donec et dapibus orci. Pellentesque rutrum dolor sit amet 
            </p>
            <a href = "#">Upload photo here</a>
        </div>

        <div id = "divthree">
            <h2><i class = "far fa-bell"></i> Subscriptions</h2>
            <p>Hello {{ request.user }} your account has 100 Subscriptions attached to it,
                click the subscriptions link below to see them all.
            </p>

            <h2><i class = "far fa-user"></i> Account type</h2>
            <p>Hello {{ request.user }} you can upgrade your account to premium account to
                access other vschools features.
            </p>
            <div id = "links">
                <a href="#">Upgrade my account</a>
                <a href="#">See all subscriptions</a>
                <a href="#">See my uploads</a>
            </div>
        </div>
    </body>
</html>