{% load static %}

{% load compress %}

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Katumba Victor">
        <title>Vschools | Verify your e-mail</title>
        <link rel="shortcut icon" href="{% static 'images/profile_pic.svg' %}" type="image/svg"/>
        {% compress css %}
        <link rel = "stylesheet" href = "{% static 'css/verify_email.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'css/fonts/css/all.min.css' %}"/>
        {% endcompress %}
    </head>
    <body>
        <div id = "navbar">
            <h1>Vschools</h1>
        </div>
        <div id = "card">
            <h2><i class = "far fa-envelope"></i> Please verify your e-mail</h2>
            <p id = "info">Please follow the link sent to your e-mail to verify first</p>

            <p id = "footer">premium</p>
        </div>
    </body>
</html>