* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
}

body {
    padding: 67px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    align-self: center;
}

#navbar { 
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: white;
}

#navbar h1{
    font-size: 30px;
    color: blue;
    font-weight: lighter;
}

#navbar button {
    position: absolute;
    border: none;
    background: none;
    top: 12px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    padding: 10px;
    background-color: rgba(128,128,128,0.12);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    transition: background-color .5s;
}

#navbar button:hover {
    background-color: rgba(128,128,128,0.20);
}

#text_one {
    text-align: center;
    margin: 0;
    font-size: 28px;
    margin-top: 60px;
    font-weight: 300;
}

span {
    font-weight: 500;
}

#text_two {
    text-align: center;
    margin: 0;
    font-size: 15px;
    margin-top: 60px;
    font-weight: 400;
    width: 300px;
    font-style: italic;
    color: grey;
}